  /* Sidebar */
    .sidebar {
        width: 250px;
        background: #09275E;
        color: #fff;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        padding: 20px;
        overflow: hidden;
    }

    .sidebar a.logout {
        background: #e6000b;
        color: #fff;
        padding: 10px 15px;
        text-align: center;
        border-radius: 5px;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100%;
    }
    .sidebar a.logout:hover {
        background: #ac0009; /* vermelho */

    }
    .sidebar.collapsed {
    width: 80px;
    }

    .sidebar h2 {
    margin-bottom: 30px;
    font-size: 20px;
    text-align: center;
    transition: 0.3s;
    }

    .sidebar.collapsed h2 {
    opacity: 0;
    }

    .sidebar a {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #f7fbff;
    text-decoration: none;
    padding: 17px 15px;
    font-weight: 500;
    border-radius: 8px;
    margin-bottom: 8px;
    transition: 0.2s;
    white-space: nowrap;
    }

    .sidebar.collapsed a span {
    display: none;
    }

    .sidebar a:hover {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    }
