@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background:  #f4f6fc;
    display: flex;
    min-height: 100vh;
    padding: 5px 0 0 20px; 
}

.sidebar {
    width: 250px;
    background-color: #4a6cf7;
    color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.3rem;
}

.sidebar a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0.75rem 1rem;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    margin-bottom: 1rem;
}

.sidebar a:hover {
    background: rgba(255,255,255,0.1);
}

.main {
    margin-left: 220px;
    width: 100%;
}

.topbar {
    background-color: #f4f6fc;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.search-box {
    flex: 1;
    max-width: 400px;
    margin: 0 1rem;
}

.search-box input {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 12px;
}



.user i{
    font-size: 27px;
    cursor: pointer;
    color: black;
}


.cards {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;
}

.card {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    text-align: center;
}

.card i {
    font-size: 1.5rem;
    color: #4a6cf7;
    margin-bottom: 0.5rem;
}

.card h3 {
    margin: 0.5rem 0;
}

.table-section {
    padding: 0 2rem 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
}

th, td {
    padding: 1rem;
    border-bottom: 1px solid #eee;
    text-align: left;
}

th {
    background-color: #fff;
}

.badge {
    padding: 0.25rem 0.5rem;
    border-radius: 6px;
    color: white;
    font-size: 0.8rem;
}

.active {
    background: green;
}

.inactive {
    background: red;
}


@media (max-width: 768px) {
    .sidebar {
    display: none;
    }

    .main {
    margin-left: 0;
    }
}


.btn {
  padding: 8px 12px;
  border-radius: 6px;
  color: white;
  text-decoration: none;
  display: inline-block;
}

.btn.edit {
  background-color: #4ea2f0;
}
.btn.edit:hover {
    background-color: #2172be;
}

.btn.delete {
    background-color: #d9534f;
}
.btn.delete:hover {
   background-color: #c9302c;
}


/* Style Status */
.status {
  padding: 4px 10px;
  border-radius: 5px;
  text-transform: capitalize;
}

.status.ativo {
  color: #006e1c;
  background-color: #6fc785;
}

.status.bloqueado {
  color: #b10c00;
  background-color: #e6d17d;
}

.status.inativo {
  color: #374151;
  background-color: #c6ccd6;
}



/* style status de agendamento */
.status.Agendado {
  color: #006e1c;
  background-color: #6fc785;
}

.status.Concluido {
  color: #f3ffeb;
  background-color: #00ce6e;
}

.status.Faltou{
  color: #b10c00;
  background-color: #e6d17d;
}

.status.Cancelado {
  color: #f7f7f7;
  background-color: #ff533d;
}