body {
    width: 100%;
    min-height: 100vh;
    background: #e0ecff;
    margin: 0;
    scroll-behavior: smooth;
}

header {
    padding: 1px 40px;
    background-color: #2874df;
    height: 90px;
}

.logo {
    width: 50px;
    border-radius: 50%;
}

.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 18px;
}

.menu {
    margin-right: 140px;
}

header a {
    color: #ffffffec;
    font-weight: 500;
    font-size: 17px;
    text-decoration: none;
    display: inline-block;
}

header .menu ul {
    list-style: none;
}

header .menu ul li {
    display: inline-block;
    padding: 0 60px;
}

.menu ul li a {
    position: relative;
}

.menu ul li a::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .5s;
    border-radius: 5px;
}

.menu a:hover::after {
    width: 100%;
}

#user-login {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.img-logar {
    width: 33px;
    margin: 5px;
    margin-bottom: 7px;
}



.fundo-inicial {
    height: calc(100vh - 100px); 
    padding-top: 30px; 
    box-sizing: border-box;
    background: #e0ecff;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.fundo-inicial img {
    max-height: 100%; /* ocupa todo o container sem passar */
    max-width: 100%;
    object-fit: contain; 
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

/* Seções com imagem */
.secao-imagem {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e0ecff;
    padding: 40px 0;
}

#servicos {
    margin-top: 60px;
}

.secao-imagem img {
    width: auto;
    max-width: 90%;
    max-height: 80vh;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}


.rodape {
    background-color: #2874df;
    color: white;
    text-align: center;
    padding: 30px 20px;
    font-size: 1.1em;
}