@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #F9F9F9;
}

header{
    padding: 10px 40px 10px 40px;
    background-color: #2874df;
}

.logo{
    width: 50px;
    border-radius: 50%;
}

.interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    margin-right: 140px;
}

header a{
    color: #ffffffec;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
}

header .menu ul li{
    display: inline-block;
    padding: 0 40px;
}


/* Efeito sublinhado */
.menu ul li a {
    position: relative;
}
  
.menu ul li a::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .5s;
}

.menu a:hover::after{
    width: 100%;
}



/* style main top */
.main-top {
    height: 60vh;
    background-image: url('../imgs/img_top.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 2rem;
    box-shadow: 0 15px 10px rgba(0,0,0,0.2);
}

.main-top h1 {
    font-size: 40px;
    margin-top: 90px;
    margin-bottom: 1rem;
    color: #ffffff;
    font-weight: 700;
}

.main-top p {
    font-size: 25px;
    margin-bottom: 2rem;
    color: #F9F9F9;
    font-weight: 600;
}


.sub-title{
  background-color: #00448846;
  color: #004080;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  max-width: 700px;
  margin: 40px auto;
  margin-bottom: 0;
}



/* Avatar */
.avatar {
    width: 45px;
    height: 45px;
    background-color: #229cff93;
    color: white;
    font-size: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: .4s;
}
.avatar:hover{
    box-shadow: 0px 2px 10px #363636;
}



/* Style sub-menu lateral */
.sub-menu-wrap {
    position: absolute;
    margin-top: 10px;
    right: 10px;
    width: 290px;
    background-color: #fff;
    max-height: 0; 
    overflow: hidden;
    transition: .7s;
    border-radius: 10px;
}

.sub-menu-wrap.open-menu {
    max-height: 350px;
    visibility: visible; 
}

.sub-menu{
    background-color: #fff;
    padding: 15px;
    margin: 10px;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info h2{
    font-weight: 500;
}

.user-info img{
    width: 60px;
    background-color: #007bff;
    border-radius: 50%;
    margin: 5px;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 10px 0 10px;
}

.img-sub-menu{
    width: 25px;
}
.avatar-icon {
    font-size: 45px;
    color: #0069d1;
    background-color: #e3eefe;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
}


.avatar-sub-menu{
    width: 60px;
    height: 60px;
    background-color: #0069d1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    margin: 20px 0;
}

.sub-menu-link p{
    width: 100%;
}


.sub-menu-link img{
    width: 20px;
    background-color: rgb(201, 201, 201);
    border-radius: 50%;
    padding: 7px;
    margin-right: 15px;
}

.sub-menu-link span{
    font-size: 22px;
    transition: transform .5s;
}

.sub-menu-link:hover span{
    transform:  translateX(5px);
}
.sub-menu-link:hover p{
    font-weight: 500;
}





/* Style conteudo */
.cards-container {
    padding: 50px 40px; 
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: flex-start;
    max-width: 1500px;
    margin: 0 auto;
}


.card-servico {
    background: white;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.12);
    overflow: hidden;
    width: 100%;
    max-width: calc(33.333% - 20px);
    min-width: 280px;
    flex: 1 1 calc(33.333% - 20px);
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.card-servico:hover {
    transform: translateY(-8px);
}

.card-servico img.imagem-topo,
.card-servico img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-servico .conteudo {
    padding: 16px 20px 24px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.card-servico .conteudo p{
    font-size: 17px;
    font-weight: 500;
    text-align: justify;
    padding-right: 20px;
}


.card-servico h3 {
    font-size: 20px;
    margin: 12px 0 6px;
    color: #003366;
}

.card-servico .especialidade {
    font-weight: 600;
    color: #0078D7;
    font-size: 15px;
    margin-bottom: 12px;
}

.card-servico p {
    flex-grow: 1;
    font-size: 14px;
    color: #555;
    line-height: 1.4;
    margin-bottom: 20px;
    margin-left:10px
}


.card-servico .btn-agendar {
    align-self: center;       
    padding: 15px 30px;
    background-color: #0078D7;
    color: white;
    font-weight: 700;
    border-radius: 8px;
    text-decoration: none;
    font-size: 17px;
    box-shadow: 0 4px 8px rgba(0,120,215,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px
}

.card-servico .btn-agendar:hover {
    background-color: #005ea3;
}


.rodape {
    background-color: #2874df;
    color: white;
    text-align: center;
    padding: 30px 20px;
    font-size: 1.1em;
    margin-top:30px;
}