@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    padding: 20px;
}

.container {
    max-width: 900px;
    background: #f4f4f481;
    padding: 30px;
    border-radius: 8px;
    margin: auto;
    box-shadow: 0px 2px 10px rgb(131, 131, 131);
}

h1 {
    margin-bottom: 20px;
    color: #333;
    grid-column: span 2;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 40px;
}

.form-control {
    position: relative;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 600;
    margin-bottom: 5px;
    color: #555;
}

input,
select,
textarea {
    padding: 10px;
    font-size: 15px;
    border: 1.5px solid #00000044;
    border-radius: 4px;
}

textarea {
    resize: none;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #1e90ff;
    outline: none;
}

.form-full {
    grid-column: span 2;
}

.btn-salvar {
    grid-column: span 2;
    margin-top: 30px;
    background-color: #2196f3;
    border: none;
    color: white;
    padding: 14px 40px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
}

.btn-salvar:hover {
    background-color: #1976d2;
}

.btn-enviar {
    width: 150px;
    background-color: rgb(16, 73, 194);
    color: white;
    font-weight: 700;
    border-radius: 10px
}

hr {
    width: 209%;
    height: 1px;
    background-color: rgb(0, 0, 0);
}

.avatar {
    width: 80px;
    height: 80px;
    background-color: rgb(0, 104, 216);
    color: white;
    font-size: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-right: 15px;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.botao-inativar {
    padding: 10px;
    width: 110px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    background-color: #f56200  ;
    border-radius: 7px;
    transition: .3s;
}

.botao-inativar:hover {
    background-color: #f55a00;
    box-shadow: 0 2px 6px rgba(212, 0, 0, 0.548);
    transform: scale(15px);
}


.botao-excluir {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    margin-left: auto;
    padding: 10px;
    width: 110px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    background-color: #e40101e1;
    border-radius: 7px;
    transition: .3s;
}

.botao-excluir:hover {
    background-color: #ff0000;
    box-shadow: 0 2px 6px rgba(212, 0, 0, 0.548);
    transform: scale(15px);
}



.btn-back {
    color: #007bff;
    text-decoration: none;
    top: 15px;
    left: 15px;
}


/* style validacao*/
.form-control.success input {
    border: 1px solid #24C100;
}

.form-control.error input {
    border: 1px solid #FF0000;
}

.form-control.success .img_success {
    visibility: visible;
}

.form-control.error .img_error {
    visibility: visible;
}

.form-control.error small {
    visibility: visible;
    color: #FF0000;
}

.form-control img {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 27px;
    top: 33px;
}

.form-control img,
small {
    visibility: hidden;
}